In [2]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
school_path = os.path.join("Resources","schools_complete.csv")
student_path = os.path.join("Resources", "students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_path)
student_data = pd.read_csv(student_path)

# Combine the data into a single dataset
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

## District Summary

In [4]:
schools_unique = df["school_name"].unique()
total_schools= len(schools_unique)
total_students = df["student_name"].count()
total_budget = "$" + str(school_data["budget"].sum())
average_math = round(df["math_score"].mean(), 2)
average_reading = round(df["reading_score"].mean(), 2)
overall_passing = round(((average_reading + average_math)/2), 2)
reading_above_70 = df[df["reading_score"] >= 70]
reading_passing =round(((reading_above_70["reading_score"].count())/(total_students)*100), 2)
math_above_70 = df[df["math_score"] >= 70]
math_passing = round(((math_above_70["math_score"].count())/(total_students)*100), 2)
data_for_district_summary = [{"Number of Unique Schools": total_schools, "Number of Students": total_students,\
                              "District Budget": total_budget, "Average Math Score": average_math,
                             "Average Reading Score": average_reading,"% Passing Math": math_passing,\
                             "% Passing Reading": reading_passing, "Overall Passing": overall_passing}]
pd.DataFrame(data_for_district_summary)

,Number of Unique Schools,Number of Students,District Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,39170,$24649428,78.99,81.88,74.98,85.81,80.44

## School Summary

In [31]:
school_summary_df = pd.DataFrame(school_data).rename(columns= {"school_name": "School Name", "type":"School Type",\
                                           "size": "School Size", "budget": "School Budget"})
per_student_budget = ((school_summary_df["School Budget"])/(school_summary_df["School Size"]))
school_summary_df["Per Student Budget"] = per_student_budget

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [4]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [5]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.